*{
    margin: 0;

}
.my-nav{
    background-color: lightblue;
    padding: 20px;
}
.my-nav a{
    text-decoration: none;
    font-size: 20px;
    padding: 8px;

}

/* .my-nav a.active{
    font-size: 25px;
    font-weight: bold;
    color: red;
}  */